* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(212, 208, 208);
}

.pageCards {
  margin: 20px 0;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
}

.cards {
  background-color: #fff;
  border: 2px solid rgb(88, 87, 82);
  padding: 10px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 4px rgb(150, 151, 151);
}

.cards img {
  height: 280px;
  width: 250px;
  border-radius: 6px;
}

input[type="text"] {
  width: 350px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px;
}